.disconnectButton {
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disconnectIcon {
    background: transparent;
    color: red;
    font-size: 1.25rem;
    filter: drop-shadow(0 0 .75rem black);
}